<!DOCTYPE html>


<html lang="cs">
<head>
    <base href="{$server->getBaseHref()}" />

    <meta charset="UTF-8" />

    <title>{if strstr($title, "Moje Studium")}{$title}{else}{$title} | Moje Studium{/if}</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

    <meta name="description" content="{spaceless}{$description}{/spaceless}" />
    <meta name="keywords" content="{spaceless}{$keywords}{/spaceless}" />

    <meta name="author" content="Michal ŠMAHEL (ceskyDJ)" />

    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>


<body>
<header class="page-header">
    <section class="page-header-section">
        <h1 class="main-heading">Moje Studium</h1>

        <div class="other-content">
            <div class="logged-user-info">
                {$user->getProfileImageHTML()|noescape}
                <span class="full-name">{$user->getData()->getFullName()}</span>
                <span class="short-name">{$user->getData()->getShortName()}</span>
                <span class="class" n:if="$user->getClass() !== null">{$user->getClass()->getName()}</span>
            </div>

            <div class="actions">
                <div class="notifications">
                    <i n:class="notifications-i, notification-icon, $user->getNotifications()->isEmpty() === false ? active" id="_show-notifications-b"></i>

                    {* TODO: Po otevření odeslat požadavek na smazání zobrazených záznamů (již přečteno) *}
                    <div class="notifications-box" id="_notifications-box">
                        <div class="notification" n:foreach="$user->getNotifications() as $notification">{$notification->getFinalText()}</div>
                        {if $user->getNotifications()->isEmpty()}
                        <div class="notification">Nemáte žádné notifikace</div>
                        {/if}
                    </div>
                </div>
                <i class="hamburger-menu-i open-close-button" id=_menu-control-b"></i>
                <a class="action-link logout" href="/sign/out">Odhlásit se</a>
            </div>
        </div>
    </section>

    <nav class="page-menu">
        <ul class="menu-list">
            <li n:class="menu-item, $contentView === 'summary.latte' ? active">
                <a class="menu-link" href="/application">Přehled</a>
            </li>
            <li n:class="menu-item, $contentView === 'private-reminders-and-notes.latte' ? active">
                <a class="menu-link" href="/application/reminders-and-notes/private">
                    Moje {if $user->getClass() !== null}upozornění a{/if} poznámky
                </a>
            </li>
            <li n:class="menu-item, $contentView === 'shared-reminders-and-notes.latte' ? active">
                <a class="menu-link" href="/application/reminders-and-notes/shared">
                    {if $user->getClass() !== null}Sdílená upozornění a{else}Sdílené{/if} poznámky
                </a>
            </li>
            <li n:class="menu-item, $contentView === 'private-files.latte' ? active">
                <a class="menu-link" href="/application/files/private">Moje soubory</a>
            </li>
            <li n:class="menu-item, $contentView === 'shared-files.latte' ? active">
                <a class="menu-link" href="/application/files/shared">Sdílené soubory</a>
            </li>
        </ul>
    </nav>
</header>


<main class="page-content {block contentClass}{/block}">
    {block content}{/block}
</main>

<footer class="page-footer">
    <p class="footer-info">
        {spaceless}
        Jedná se o maturitní projekt (ročník 2019/2020).
        Autorem je Michal ŠMAHEL, grafické podklady připravila Adéla VYHNÁLKOVÁ.
        Zdrojové kódy je možné nalézl na
        <a class="basic-link" href="https://github.com/ceskyDJ/moje-studium">Githubu</a>.
        {/spaceless}
    </p>

    <p class="footer-contact">
        <strong class="contact-mini-heading">Kontakt</strong>
        <a class="contact-email" href="mailto:moje-studium@ceskydj.cz">moje-studium@ceskydj.cz</a>
    </p>
</footer>

<div class="alert-container hide" id="_alert-container"></div>

{* Libraries *}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/lib/axios/config.js"></script>
<script src="/js/lib/week-number/week-number.js"></script>
{* Own scripts *}
<script src="/js/classes/AlertController.js"></script>
<script src="/js/classes/HeaderController.js"></script>
<script src="/js/application/layout.js"></script>
{* Content view requested scripts *}
{block js}{/block}
</body>
</html>