<!DOCTYPE html>


<html lang="cs">
<head>
    <base href="{$server->getBaseHref()}" />

    <meta charset="UTF-8" />

    <title>{if strstr($title, "Moje Studium")}{$title}{else}{$title} | Moje Studium{/if}</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

    <meta name="description" content="{spaceless}{$description}{/spaceless}" />
    <meta name="keywords" content="{spaceless}{$keywords}{/spaceless}" />

    <meta name="author" content="Michal ŠMAHEL (ceskyDJ)" />

    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>


<body>
<header class="page-header">
    <section class="page-header-section">
        <h1 class="main-heading">Moje Studium</h1>

        <div class="other-content">
            <div class="logged-user-info">
                <!-- TODO: Dynamicky generované -->
                <span class="full-name">Adéla Vyhnálková</span>
                <span class="short-name">Adéla V.</span>
                <span class="class">4.ER</span>
            </div>

            <div class="actions">
                <div class="notifications">
                    <i class="notifications-i notification-icon active" id="_show-notifications-b"></i>

                    <!-- TODO: Pro otevření přidat třídu active -->
                    <!-- TODO: Po otevření odeslat požadavek na smazání zobrazených záznamů (již přečteno) -->
                    <div class="notifications-box">
                        <div class="notification">Veronika Zemanová s vámi sdílela poznámku</div>
                        <div class="notification">Veronika Zemanová s vámi sdílela upozornění</div>
                        <!-- TODO: Dynamicky generované -->
                    </div>
                </div>
                <i class="hamburger-menu-i open-close-button" id=_menu-control-b"></i>
                <a class="action-link logout" href="/log/out">Odhlásit se</a>
            </div>
        </div>
    </section>

    <nav class="page-menu">
        <ul class="menu-list">
            <li class="menu-item active"><a class="menu-link" href="/application">Přehled</a></li>
            <li class="menu-item"><a class="menu-link" href="/application/reminders-and-notes/private">Moje upozornění a poznámky</a></li>
            <li class="menu-item"><a class="menu-link" href="/application/reminders-and-notes/shared">Sdílené upozornění a poznámky</a></li>
            <li class="menu-item"><a class="menu-link" href="/application/files/private">Moje soubory</a></li>
            <li class="menu-item"><a class="menu-link" href="/application/files/shared">Sdílené soubory</a></li>
        </ul>
    </nav>
</header>


<main class="page-content {block contentClass}{/block}">
    {block content}{/block}
</main>

<footer class="page-footer">
    <p class="footer-info">
        {spaceless}
        Jedná se o maturitní projekt (ročník 2019/2020).
        Autorem je Michal ŠMAHEL, grafické podklady připravila Adéla VYHNÁLKOVÁ.
        Zdrojové kódy je možné nalézl na
        <a class="basic-link" href="https://github.com/ceskyDJ/moje-studium">Githubu</a>.
        {/spaceless}
    </p>

    <p class="footer-contact">
        <strong class="contact-mini-heading">Kontakt</strong>
        <a class="contact-email" href="mailto:moje-studium@ceskydj.cz">moje-studium@ceskydj.cz</a>
    </p>
</footer>

{block js}{/block}
</body>
</html>