<!DOCTYPE html>


<html lang="cs">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta content="Michal ŠMAHEL (ceskyDJ)" name="author" />
    <title>Aplikační vrstva - Přehled</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <meta content="width=device-width,height=device-height" name="viewport" />
</head>


<body>
<header class="page-header">
    <section class="page-header-section">
        <h1 class="main-heading">Moje Studium</h1>

        <div class="other-content">
            <div class="logged-user-info">
                <!-- TODO: Dynamicky generované -->
                <i class="profile-image graduation-cap-p-i"></i>
                <span class="full-name">Adéla Vyhnálková</span>
                <span class="short-name">Adéla V.</span>
                <span class="class">4.ER</span>
            </div>

            <div class="actions">
                <div class="notifications">
                    <i class="notifications-i notification-icon" id="_show-notifications-b"></i>

                    <div class="notifications-box" id="_notifications-box">
                        <div class="notification">Veronika Zemanová s vámi sdílela poznámku</div>
                        <div class="notification">Veronika Zemanová s vámi sdílela upozornění</div>
                        <!-- TODO: Dynamicky generované -->
                    </div>
                </div>
                <i class="hamburger-menu-i open-close-button" id=_menu-control-b"></i>
                <a class="action-link logout" href="#logout">Odhlásit se</a>
            </div>
        </div>
    </section>

    <nav class="page-menu">
        <ul class="menu-list">
            <li class="menu-item active"><a class="menu-link" href="#">Přehled</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Moje upozornění a poznámky</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Sdílené upozornění a poznámky</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Moje soubory</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Sdílené soubory</a></li>
        </ul>
    </nav>
</header>


<main class="page-content">
    <div class="page multi-page">
        <header class="multi-page-header">
            <!-- TODO: třídu "active" nastavit aktivní kartě -->
            <a class="page-tab" href="#">Můj profil</a>
            <a class="page-tab active" href="#">Profil třídy</a>
        </header>

        <!-- Můj profil -->
        <!-- TODO: hide nastavit neaktivní podstránce -->
        <section class="multi-page-content hide">
            <div class="profile-image-changer">
                <div class="profile-icons">
                    <!-- TODO: Automaticky generované -->
                    <!-- TODO: Aktuální profilový obrázek vykreslen včetně nastavených barev -->
                    <i class="graduation-cap-p-i icon" style="color: #F3D452; background: #84ADAA;"></i>
                    <i class="hat-cowboy-p-i icon"></i>
                    <i class="hat-winter-p-i icon"></i>
                    <i class="hat-witch-p-i icon"></i>
                    <i class="hood-cloak-p-i icon"></i>
                </div>
                <div class="action-container">
                    <i class="palette-i action"></i>
                </div>
            </div>

            <div class="user-data">
                <form method="post" action="" class="app-form">
                    <div class="form-inputs">
                        <div class="form-input-row">
                            <label for="first-name" class="form-label">Jméno</label>
                            <input name="first-name" type="text" id="first-name" class="form-input" disabled autofocus value="Adéla" />
                            <i class="form-input-action edit-i"></i>
                        </div>
                        <div class="form-input-row">
                            <label for="last-name" class="form-label">Příjmení</label>
                            <input name="last-name" type="text" id="last-name" class="form-input" disabled value="Vyhnálková" />
                            <i class="form-input-action edit-i"></i>
                        </div>
                        <div class="form-input-row">
                            <label for="login-name" class="form-label">Přihlašovací jméno</label>
                            <input name="login-name" type="text" id="login-name" class="form-input" disabled value="Adéla2365" />
                            <i class="form-input-action edit-i"></i>
                        </div>
                        <div class="form-input-row">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" type="email" id="email" class="form-input" disabled value="adelavyhnalkova@seznam.cz" />
                            <i class="form-input-action edit-i"></i>
                        </div>
                    </div>

                    <div class="form-links">
                        <a class="action-link action" href="#">Změnit heslo</a>
                    </div>

                    <div class="form-alerts">
                        <p class="form-alert negative">Nebyla vyplněna všechna pole.</p>
                        <p class="form-alert negative">Byl zadán špatný formát emailové adresy.</p>
                    </div>
                </form>
            </div>

            <div class="quota">
                <div class="quota-progress-bar" id="_quota-progress-bar" data-value="60">
                    <span class="quota-text">využito <span>60MB</span>/<span>100MB</span></span>
                </div>
            </div>
        </section>

        <!-- Profil třídy -->
        <section class="multi-page-content without-side-padding">
            <header class="class-profile-header">
                <nav class="class-profile-menu">
                    <ul class="class-profile-menu-list">
                        <!-- TODO: třída "active" položce, která odkazuje na aktivní podstránku -->
                        <li class="class-profile-menu-item _profile-menu-item active" data-for="information"><a class="class-profile-menu-link" href="javascript:void(0)">Informace</a></li>
                        <li class="class-profile-menu-item _profile-menu-item" data-for="classrooms"><a class="class-profile-menu-link" href="javascript:void(0)">Učebny</a></li>
                        <li class="class-profile-menu-item _profile-menu-item" data-for="teachers"><a class="class-profile-menu-link" href="javascript:void(0)">Učitelé</a></li>
                        <li class="class-profile-menu-item _profile-menu-item" data-for="subjects"><a class="class-profile-menu-link" href="javascript:void(0)">Předměty</a></li>
                        <li class="class-profile-menu-item _profile-menu-item" data-for="groups"><a class="class-profile-menu-link" href="javascript:void(0)">Skupiny</a></li>
                        <li class="class-profile-menu-item _profile-menu-item" data-for="lessons"><a class="class-profile-menu-link" href="javascript:void(0)">Vyučovací hodiny</a></li>
                    </ul>
                </nav>
            </header>

            <!-- TODO: Třída "hide" podstránkám, které nemají být zobrazené -->
            <!-- Informace -->
            <section class="class-profile-content _profile-subpage hide" data-id="information">
                <form method="post" action="" class="app-form">
                    <div class="form-inputs">
                        <div class="form-input-row">
                            <label class="form-label">Škola</label>
                            <span class="form-input">Střední uměleckoprůmyslová škola Jihlava-Helenín</span>
                        </div>
                        <div class="form-input-row two-actions">
                            <label for="class" class="form-label">Třída</label>
                            <input name="class" type="text" id="class" class="form-input" disabled value="4.E" />
                            <i class="form-input-action leave-i"></i>
                            <i class="form-input-action edit-i"></i>
                        </div>
                        <div class="form-input-row">
                            <label class="form-label">Počáteční rok</label>
                            <span class="form-input">2016/17</span>
                        </div>
                        <div class="form-input-row">
                            <label class="form-label">Délka studia</label>
                            <span class="form-input">4 roky</span>
                        </div>
                    </div>

                    <div class="form-alerts">
                        <p class="form-alert negative">Nebyla vyplněna všechna pole.</p>
                        <p class="form-alert negative">Byl zadán špatný formát emailové adresy.</p>
                    </div>
                </form>
            </section>

            <!-- Učebny -->
            <section class="class-profile-content _profile-subpage hide" data-id="classrooms">
                <div class="add-item">
                    <!-- TODO: Pokud je zobrazen formulář -> třída "hide" -->
                    <i class="add-i action hide"></i>

                    <form class="profile-simple-form">
                        <input name="name" type="text" class="form-input" placeholder="Název" title="Zadej školní název učebny" />
                        <input name="description" type="text" class="form-input" placeholder="Popis" title="Zadej vlastní popis" />
                        <i class="action done-i"></i>
                    </form>
                </div>

                <div class="profile-table">
                    <div class="table-row">
                        <span class="table-data">A1/10</span>
                        <span class="table-data">tělocvična</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">A1/15</span>
                        <span class="table-data">kmenová učebna</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">B1/02</span>
                        <span class="table-data"></span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">B2/03</span>
                        <span class="table-data">ateliér</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                </div>
            </section>

            <!-- Učitelé -->
            <section class="class-profile-content _profile-subpage hide" data-id="teachers">
                <div class="add-item">
                    <!-- TODO: Pokud je zobrazen formulář -> třída "hide" -->
                    <i class="add-i action hide"></i>

                    <form class="profile-simple-form">
                        <input name="shortcut" type="text" class="form-input" placeholder="Zkratka" title="Zadej zkratku, kterou učiteli udělila škola" />
                        <div class="teacher-name">
                            <input name="degree-before" type="text" class="form-input" placeholder="Titul(y)" title="Zadej všechny tituly, které má učitel před jménem" />
                            <input name="name" type="text" class="form-input" placeholder="Jméno a příjmení" title="Zadej celé jméno učitele" />
                            <input name="degree-after" type="text" class="form-input" placeholder="Titul(y)" title="Zadej všechny tituly, které má učitel za jménem" />
                        </div>
                        <i class="action done-i"></i>
                    </form>
                </div>

                <div class="profile-table">
                    <div class="table-row">
                        <span class="table-data">DOŽ</span>
                        <span class="table-data">Mgr. Věra Doležalová</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">CIM</span>
                        <span class="table-data">Ing. Dan Cimburek</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">BAR</span>
                        <span class="table-data">MgA. Zuzana Bartošová</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">KOL</span>
                        <span class="table-data">MgA. Matěj Kolář</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                </div>
            </section>

            <!-- Předměty -->
            <section class="class-profile-content _profile-subpage" data-id="subjects">
                <div class="add-item">
                    <!-- TODO: Pokud je zobrazen formulář -> třída "hide" -->
                    <i class="add-i action hide"></i>

                    <form class="profile-simple-form">
                        <input name="shortcut" type="text" class="form-input" placeholder="Zkratka" title="Zadej zkratku předmětu používanou školou" />
                        <input name="name" type="text" class="form-input" placeholder="Název" title="Zadej celý název předmětu" />
                        <i class="action done-i"></i>
                    </form>
                </div>

                <div class="profile-table">
                    <div class="table-row">
                        <span class="table-data">ČJL</span>
                        <span class="table-data">Český jazyk a literatura</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">ANJ</span>
                        <span class="table-data">Anglický jazyk</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">NĚJ</span>
                        <span class="table-data">Německý jazyk</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data">SGD</span>
                        <span class="table-data">Seminář grafického designu</span>
                        <i class="action delete-cross-i"></i>
                    </div>
                </div>
            </section>

            <!-- Skupiny -->
            <section class="class-profile-content _profile-subpage hide" data-id="groups">

            </section>

            <!-- Vyučovací hodiny -->
            <section class="class-profile-content _profile-subpage hide" data-id="lessons">

            </section>

            <footer class="class-profile-footer">
                <span class="footer-description">O přístup žádá:</span>

                <div class="access-requests-table">
                    <div class="table-row">
                        <span class="table-data username">Eliška Starostová</span>
                        <span class="table-data email">starostova@seznam.cz</span>
                        <i class="approve-i action approve"></i>
                        <i class="decline-i action decline"></i>
                    </div>
                    <div class="table-row">
                        <span class="table-data username">Lukáš Kříž</span>
                        <span class="table-data email">dzal3@gmail.com</span>
                        <i class="approve-i action approve"></i>
                        <i class="decline-i action decline"></i>
                    </div>
                </div>
            </footer>
        </section>
    </div>
</main>


<footer class="page-footer">
    <p class="footer-info">
        Jedná se o maturitní projekt (ročník 2019/2020).
        Autorem je Michal ŠMAHEL, grafické podklady připravila Adéla VYHNÁLKOVÁ.
        Zdrojové kódy je možné nalézl na
        <a class="basic-link" href="https://github.com/ceskyDJ/moje-studium">Githubu</a>.
    </p>

    <p class="footer-contact">
        <strong class="contact-mini-heading">Kontakt</strong>
        <a class="contact-email" href="mailto:moje-studium@ceskydj.cz">moje-studium@ceskydj.cz</a>
    </p>
</footer>

<script src="/js/classes/HeaderController.js"></script>
<script src="/js/lib/progressbar/progressbar.min.js"></script>
<script src="/js/classes/ProfileController.js"></script>
<script src="/js/application/user-and-class-profile.js"></script>
</body>
</html>