<!DOCTYPE html>


<html lang="cs">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta content="Michal ŠMAHEL (ceskyDJ)" name="author" />
    <title>Aplikační vrstva - Rozložení</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <meta content="width=device-width,height=device-height" name="viewport" />
</head>


<body>
<header class="page-header">
    <section class="page-header-section">
        <h1 class="main-heading">Moje Studium</h1>

        <div class="other-content">
            <div class="logged-user-info">
                <!-- TODO: Dynamicky generované -->
                <span class="full-name">Adéla Vyhnálková</span>
                <span class="short-name">Adéla V.</span>
                <span class="class">4.ER</span>
            </div>

            <div class="actions">
                <i class="notifications-i notifications" id="_show-notifications-b"></i>
                <i class="hamburger-menu-i" id=_menu-control-b"></i>
                <a class="action-link logout" href="#logout">Odhlásit se</a>

                <div class="notifications-box">
                    <!-- TODO: Doplnit strukturu -->
                    <!-- TODO: Dynamicky generované --->
                </div>
            </div>
        </div>
    </section>

    <nav class="page-menu">
        <ul class="menu-list">
            <li class="menu-item active"><a class="menu-link" href="#">Přehled</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Moje upozornění a poznámky</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Sdílené upozornění a poznámky</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Moje soubory</a></li>
            <li class="menu-item"><a class="menu-link" href="#">Sdílené soubory</a></li>
        </ul>
    </nav>
</header>


<main class="page-content">

</main>


<footer class="page-footer">
    <p class="footer-info">
        Jedná se o maturitní projekt (ročník 2019/2020).
        Autorem je Michal ŠMAHEL, grafické podklady připravila Adéla VYHNÁLKOVÁ.
        Zdrojové kódy je možné nalézl na
        <a class="basic-link" href="https://github.com/ceskyDJ/moje-studium">Githubu</a>.
    </p>

    <p class="footer-contact">
        <strong class="contact-mini-heading">Kontakt</strong>
        <a class="contact-email" href="mailto:moje-studium@ceskydj.cz">moje-studium@ceskydj.cz</a>
    </p>
</footer>
</body>
</html>