.button {
  &:hover {
    cursor: pointer;
  }
}

.form-button {
  &:extend(.button);
  background: @light-grey;
  color: @dark-green;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-family: @caps-font;
  padding: .7em .6em;

  &:hover {
    background: shade(@light-grey, 5%);
  }
}