.link-with-icon,
.basic-link {
  color: @link-c;
  user-select: none;

  &:hover {
    cursor: pointer;
    color: darken(@link-c, 20%);
  }

  i:first-child {
    margin-right: .3em;
  }

  i:last-child {
    margin-left: .3em;
  }
}

.action-link {
  &:extend(.basic-link all);

  .uppercase();
  font-weight: bold;
}

.contact-email {
  color: inherit;
}

.quiet-link {
  color: inherit;

  &:hover {
    opacity: .8;
  }
}