// START barvy
@dark-yellow: #F3D452;
@light-yellow: #FFE252;
@dark-green: #84ADAA;
@light-green: #D4DDDD;
@red: #F08693;
@light-grey: #EEE9E5;
@dark-grey: #A7A5A6;
@black: #5E5E5F;
@white: white;
// END barvy

// START obecne
@page-bg: @white;
@text-c: @dark-grey;
@placeholder-c: @light-grey;
@link-c: @dark-green;
// END obecne


// START nadpisy
@main-heading-c: @dark-green;
@box-heading-c: @dark-yellow;
@intro-heading-c: @dark-green;
// END nadpisy


// START hlavicka
@header-bg: @light-grey;
// END hlavicka


// START paticka
@footer-bg: @light-grey;
// END paticka