// START urls
@images: "/img";
@fonts: "/fonts";

@fa-font-path: "@{fonts}/font-awesome";
// END urls

// START fonts
@main-font: "Alegreya sans", sans-serif;
@small-caps-font: "Alegreya sans SC", sans-serif;
@web-name-font: Raleway, sans-serif;
// END fonts

// START colors
@yellow-primary: #F3D452;
@yellow-other: #FFE252;
@green-dark: #84ADAA;
@green-light: #D4DDDD;
@red: #F08693;
@gray-light: #EEE9E5;
@gray-dark: #A7A5A6;
@black: #5E5E5F;
@white: white;
// END colors