// START url adresy
@images: "/img";
@fonts: "/fonts";
// END url adresy


// START fonty
@main-font: "Alegreya sans", sans-serif;
@caps-font: "Alegreya sans SC", sans-serif;
@web-name-font: Raleway, sans-serif;
// END fonty


// START barvy
@dark-yellow: #F3D452;
@light-yellow: #FFE252;
@dark-green: #84ADAA;
@light-green: #D4DDDD;
@red: #F08693;
@light-grey: #EEE9E5;
@dark-grey: #A7A5A6;
@black: #5E5E5F;
@white: white;
// END barvy