<!DOCTYPE html>


<html lang="cs">
<head>
    <base href="{$server->getBaseHref()}" />

    <meta charset="UTF-8" />

    <title>{$title}</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />

    <meta name="description" content="{$description}}" />
    <meta name="keywords" content="{$keywords}" />

    <meta name="author" content="Michal ŠMAHEL (ceskyDJ)" />
</head>


<body>
<header>
    <h1>Mammoth framework - template application</h1>
</header>

<main>
    {include $contentView}
</main>
</body>
</html>