.page-content {
  padding: @page-top-bottom-p 0;

  @media screen and (min-width: @desktop) {
    padding: @page-top-bottom-p @page-side-p;
  }

  @media screen and (min-width: @big-desktop) {
    display: flex;
    justify-content: space-between;

    .right-content {
      margin-left: 4em;

      .shared-content-section {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}


.page {
  &.form-page {
    width: 90%;
    margin: 0 auto;
    border: 2px solid @light-yellow;
    padding: 1em;

    @media screen and (min-width: @tablet) {
      width: 70%;
    }

    @media screen and (min-width: @desktop) {
      width: 60%;
    }

    @media screen and (min-width: @big-desktop) {
      width: 50%;
    }

    .content-container {
      margin-top: 2em;
    }
  }
}