.page-footer {
  padding: @footer-p 0;
  background: @footer-bg;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: @desktop) {
    flex-direction: row;
  }

  .left-column {
    padding: 0 @page-side-p;

    @media screen and (min-width: @desktop) {
      width: 50%;
    }

    .footer-contact {
      white-space: nowrap;

      .contact-mini-heading {
        margin-right: .5em;
        .uppercase();
      }

      .contact-email {
        white-space: nowrap;
      }
    }

    .footer-info {
      margin-top: 0.7em;
    }
  }

  .right-column {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .hosting-thanks {
      background: @dark-green;
      color: @white;
      margin-top: 1em;
      padding: .3em 1.5em .3em .5em;

      @media screen and (min-width: @desktop) {
        margin-top: 0;
      }

      .link {
        color: @dark-yellow;
        font-weight: bold;
      }
    }

    .footer-admin-link {
      margin-top: .7em;
      margin-right: @page-side-p;
    }
  }

  .basic-link {
    font-weight: bold;
    white-space: nowrap;
  }
}