// START formular v aplikacni vrstve
.app-form {
  .form-inputs {
    .form-input-row {
      display: grid;
      grid-template-columns: @label-w auto 1em;
      align-items: flex-end;
      padding: .3em 0;
      position: relative;

      &:not(:last-child) {
        border-bottom: 2px solid @middle-grey;
      }
    }

    .form-full-width-select-row {
      margin-bottom: 2em;
    }

    .form-label {
      border-right: 2px solid @middle-grey;
      display: block;
      white-space: nowrap;
      font-size: @font-s - .01;
      padding-top: .4em;
      .uppercase();
    }

    .form-input {
      width: 100%;
      border: none;
      padding: 0 @input-p;
      font-weight: bold;
      color: @text-c;

      &::placeholder {
        color: @placeholder-c;
      }

      &.full-width {
        width: 100%;
      }

      &.select-input {
        font-family: @caps-font;
        padding: 0 @select-input-p;

        &.study-length {
          padding: 0 @select-input-p + .7em;
        }

        @media screen and (min-width: @big-phone) {
          &.start-year {
            padding: 0 @select-input-p + 1.4em;
          }

          &.study-length {
            padding: 0 @select-input-p + 2.2em;
          }
        }
      }
    }

    .select-input-buttons {
      position: absolute;
      left: @label-w;
      top: .4em;
      margin-left: @input-p;
      color: @middle-grey;

      .select-button {
        cursor: pointer;
        user-select: none;

        &.up {
          margin-left: 2 * @select-input-p + @min-select-input-content-w;

          @media screen and (min-width: @big-phone) {
            margin-left: 2 * @select-input-p + @max-select-input-content-w;
          }
        }
      }
    }

    .form-input-status {
      font-size: @font-s - .02em;

       &.positive {
         &:extend(.done-i all);
       }

      &.negative {
        &:extend(.error-i all);
        margin-right: .3em;
      }
    }
  }

  .full-width-select {
    background: @white;
    border: 2px solid @middle-grey;
    padding: .2em .15em .25em .15em;
    color: @dark-grey;
    width: 100%;
    .uppercase();

    option {
      color: @dark-grey;
      background: @middle-grey;
      font-weight: bold;

      &:disabled {
        display: none;
      }
    }
  }

  .form-alerts {
    margin-top: 1em;

    .form-alert {
      text-align: center;
      margin-top: 0.3em;

      &.negative {
        color: @red;
      }

      &.positive {
        color: @dark-green;
      }
    }
  }

  .form-control {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .form-descriptive-text {
    margin: .2em 0;
  }

  .form-top-text {
    margin-bottom: 2em;
  }

  .form-bottom-text {
    margin-top: 6em;
    margin-bottom: 2em;
  }
}
// END formular v aplikacni vrstve


// START formular ve vyskakovacich oknech
.alert-form {
  .form-inputs {
    .form-input-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: .6em;

      .form-input,
      .form-select {
        // Prizpusobeni sirky obsazenych poli (100% se mysli maximalni mozna sirka)
        width: 100%;

        &:not(:first-child) {
          margin-left: .7em;
        }
      }
    }

    .form-textarea {
      width: 100%;
      border: 2px solid @middle-grey;
      resize: none;
      height: 7em;
      color: @text-c;
      padding: @input-p;

      &::placeholder {
        color: @placeholder-c;
      }
    }

    .form-input {
      .uppercase();
      color: @text-c;
      padding: .2em @input-p;
      border: 2px solid @middle-grey;

      &::placeholder {
        color: @placeholder-c;
      }
    }

    .form-select {
      &:extend(.alert-form .form-inputs .form-input all);

      background: @white;
      padding: .2em @input-p - .2em;

      &.icon-chooser {
        &:extend(.fas);

        width: 3.4em;

        .form-select-option {
          &.test-option {
            color: @dark-yellow;
          }

          &.homework-option {
            color: @dark-green;
          }

          &.school-event-option {
            color: @red;
          }
        }
      }
    }

    .form-calendar-input {
      position: relative;

      .form-input {
        padding-right: @input-p + .5em;
        min-width: 5em;
      }

      .form-calendar-button {
        position: absolute;
        top: 2px;
        right: 2px;
        margin-right: .3em;
        margin-top: .5em;
        font-size: @font-s + 0.1;
        cursor: pointer;
        user-select: none;
      }

      .form-calendar {
        position: absolute;
        margin-top: .2em;
      }
    }

    .file-tree {
      .folder {
        margin-left: 2em;
        border-left: 2px solid @middle-grey;

        .folder-name {
          padding: .1em .3em;

          &.previous-location {
            font-weight: bold;
          }
        }

        input:checked + .folder-name {
          background: @light-green;
        }
      }
    }

    .form-file-input-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 2px dashed @middle-grey;
      height: 10em;

      .form-file-input-label {
        color: @dark-green;
        .uppercase();
        font-weight: bold;
        margin-bottom: .4em;
        margin-top: auto;
      }

      .dropdown-legend {
        margin-top: auto;
        text-align: center;
        color: @middle-grey;
      }
    }
  }

  .form-alerts {
    &:extend(.app-form .form-alerts all);
  }

  .form-control {
    &:extend(.app-form .form-control);
  }
}
// END formular ve vyskakovacich oknech