// START formular v aplikacni vrstve
.app-form {
  .form-inputs {
    .form-input-row {
      display: grid;
      grid-template-columns: @label-w auto 1em;
      align-items: flex-end;
      padding: .3em 0;
      position: relative;

      &:not(:last-child) {
        border-bottom: 2px solid @light-grey;
      }
    }

    .form-full-width-select-row {
      margin-bottom: 2em;
    }

    .form-label {
      border-right: 2px solid @light-grey;
      display: block;
      white-space: nowrap;
      text-transform: uppercase;
      font-family: @caps-font;
      font-size: @font-s - .01;
      padding-top: .4em;
    }

    .form-input {
      width: 100%;
      border: none;
      padding: 0 @input-p;
      font-weight: bold;
      color: @text-c;

      &::placeholder {
        color: @placeholder-c;
      }

      &.select-input {
        padding: 0 @select-input-p;
        font-family: @caps-font;

        &.start-year {
          padding: 0 @select-input-p + 1.4em;
        }

        &.study-length {
          padding: 0 @select-input-p + 2.2em;
        }
      }
    }

    .select-input-buttons {
      position: absolute;
      left: @label-w;
      top: .4em;
      margin-left: @input-p;
      color: @light-grey;

      .select-button {
        cursor: pointer;
        user-select: none;

        &.up {
          margin-left: 2 * @select-input-p + @max-select-input-content-w;
        }
      }
    }

    .form-input-status {
      font-size: @font-s - .02em;

       &.positive {
         &:extend(.done-i all);
       }

      &.negative {
        &:extend(.error-i all);
        margin-right: .3em;
      }
    }
  }

  .full-width-select {
    background: @white;
    border: 2px solid @light-grey;
    padding: .2em .15em .25em .15em;
    font-family: @caps-font;
    color: @dark-grey;
    text-transform: lowercase;
    width: 100%;

    option {
      color: @dark-grey;
      background: @light-grey;
      font-weight: bold;

      &:disabled {
        display: none;
      }
    }
  }

  .form-alerts {
    margin-top: 1em;

    .form-alert {
      text-align: center;
      margin-top: 0.3em;

      &.negative {
        color: @red;
      }

      &.positive {
        color: @dark-green;
      }
    }
  }

  .form-control {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .form-descriptive-text {
    margin: .2em 0;
  }

  .form-top-text {
    margin-bottom: 2em;
  }

  .form-bottom-text {
    margin-top: 6em;
    margin-bottom: 2em;
  }
}
// END formular v aplikacni vrstve