// START hlavni menu
.page-header {
  background: @header-bg;
  width: 100%;

  .page-header-section {
    padding: 1em @page-side-p;
    display: flex;
    justify-content: space-between;

    .other-content {
      display: flex;

      .logged-user-info {
        font-weight: bold;

        .class {
          margin-left: .4em;
        }

        .full-name {
          display: none;

          @media screen and (min-width: @big-phone) {
            display: inline;
          }
        }

        .short-name {
          @media screen and (min-width: @big-phone) {
            display: none;
          }
        }
      }

      .actions {
        margin-left: 1.4em;

        .notifications {
          margin-right: .7em;
          display: inline-block;
          position: relative;
          z-index: @mini-alert-zi;

          .notification-icon {
            cursor: pointer;

            &.active {
              color: @red;
            }
          }

          .notifications-box {
            display: none;

            &.active {
              display: block;
              position: absolute;
              right: 0;
              border: 3px solid @dark-grey;
              background: @middle-grey;
              padding: .6em;
              margin-top: .4em;
              width: 12em;
            }

            .notification:not(:first-of-type) {
              border-top: 1px solid @dark-grey;
              padding-top: .2em;
              margin-top: .2em;
            }
          }
        }

        .logout {
          display: none;

          @media screen and (min-width: @tablet) {
            display: inline;
            margin-left: 1.4em;
          }
        }

        @media screen and (min-width: @big-tablet) {
          .open-close-button {
            display: none;
          }
        }
      }

      .presentation-user-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
// END hlavni menu