.page-menu {
  background: @white;
  padding: .7em @page-side-p;
  border-bottom: 4px solid @header-bg;
  position: absolute;
  width: 100%;
  z-index: @menu-zi;

  @media screen and (min-width: @big-tablet) {
    position: initial;
  }

  .menu-list {
    @media screen and (min-width: @big-tablet) {
      display: flex;
    }

    .menu-item {
      &:not(:first-of-type) {
        margin-top: .5em;

        @media screen and (min-width: @big-tablet) {
          margin-top: 0;
          margin-left: 1.7em;
        }
      }

      .menu-link {
        color: inherit;
        .uppercase();
        white-space: nowrap;
      }

      &.active {
        color: @dark-yellow;
      }

      &:hover {
        color: @dark-yellow;
      }
    }
  }
}