{layout $layoutView}

{block content}

{/block}

{* Libraries *}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/lib/axios/config.js"></script>
{* Own scripts *}
{* Content view requested scripts *}
{block js}{/block}