.profile-image-changer {
  .profile-icons {
    .icon {
      font-size: 2em;
      background: @light-grey;
      border-radius: 100%;
      padding: .4em;

      &:not(:first-child) {
        margin-left: .5em;
      }
    }
  }

  .action-container {
    margin-left: 1.8em;
    margin-top: .4em;

    .action {
      color: @dark-green;
      font-size: .7em;
      cursor: pointer;
    }
  }
}

.quota {
  margin-top: 1em;
  width: 6em;

  .quota-text {
    display: block;
    text-align: center;
    position: relative;
    top: 5em;
    font-size: @font-s - 0.01em;
  }
}