<h1>Moje Studium</h1>

<div>
    <p>Děkujeme za Vaši registraci!</p>
    <p>Abyste dokončili proces tvorby uživatelského účtu, klikněte prosím na tento odkaz:</p>
    <p><a href="{$link|nocheck}">Potvrdit registraci</a></p>

</div>

<div>
    <small>Pokud odkaz nefunguje, zkopírujte následující text a vložte do adresní řádky prohlížeče:</small>
    <small>{$link}</small>
</div>
